version: '2'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
  web:
    image: yflstatic:1.0
    container_name: yflweb
    hostname: web
    domainname: yourflightlog.com
    environment:
      - VIRTUAL_HOST=www.yourflightlog.com,yourflightlog.com
